<div class="container">
  <div class="row">
    <div class="col">

      <h2>オススメトレーナー</h2>
      <% @trainers.each do |trainer| %>
      <%= attachment_image_tag trainer, :trainer_image, size: "150x150", class:"attachment trainer trainer_image fallback" %>

      <p><%= link_to trainer_path(trainer.id) do %>
         <%= trainer.trainer_name %>
         <% end %>
         <% trainer.training_menu.each do |a| %>
         <%= link_to trainer_training_menus_path(trainer.id) do %>
         <%= a.category %>
         <% end %>
         <% end %>


      </p>


      <% end %>


    </div>
  </div>
</div>