<div class="container">
  <h3>トレーナー 一覧</h3>
  (全<%= @trainers.count %>件)
    <div class="row">
     <div class="col-1"></div>
      <div class="col-md-10 mx-auto">
        <div class="list-wrap">
          <% @trainers.each do |trainer| %>
           <div class="list-box">
            <% if trainer.trainer_image == nil %>
             <%= image_tag asset_path('default.png'), size: '150x150' %>
            <% else %>
             <%= attachment_image_tag trainer, :trainer_image, size: '150x150' %>
            <% end %>
            <br />
             <div><h5><%= link_to trainer.trainer_name,'/customer/trainers/'+"#{trainer.id}" %></h5></div><br />
              <% trainer.training_menus[0..2].each do |a| %>
               <span><%= a.category %></span>
              <% end %>
           </div>
         <% end %>
        </div>
       <%= paginate @trainers %>
      </div>
     <div class="col-md-1"></div>
    </div>
</div>