<div class="container">
 <div class="mt-5">
  <div class="row">
    <div class="col-lg-4">
        <h3>トレーナー詳細</h3>
          <% if @trainer.trainer_image == nil %>
           <p><%= image_tag asset_path('default.png'), size: '120x120' %></p>
          <% else %>
           <p><%= attachment_image_tag @trainer, :trainer_image, size: '120x120' %></p>
          <% end %>
           <!--いいね機能-->
          <div id="favorites_buttons_<%= @trainer.id %>">
            <%= render partial: 'customer/favorites/favorite_btn', locals: { trainer: @trainer} %>
          </div>
           <p><%= @trainer.trainer_name %></p>
           <p><%= @trainer.trainer_introduction %></p>
           <!--クチコミ機能-->
           <%= render partial: 'customer/reviews/review_new', locals: { reviews: @reviews} %>
           <%= link_to 'クチコミ投稿', new_customer_trainer_review_path(@customer, @trainer), class: 'btn-flat-border' %>
           <%= link_to '>>もっと見る', customer_trainer_reviews_path(@customer.id, @trainer.id), class: 'btn-flat-border' %>
    </div>
     <div class="col-lg-8">
       <%= render 'customer/training_menus/index', menus:@training_menus %>
     </div>
  </div>
 </div>
</div>
