<div class="container">
  <div class="row">
    <div class="col">
      <h3>新着クチコミ一覧</h3>
      <%= render 'layouts/flash' %>


      <% reviews.each do |review| %>
       <% review_customer = review.customer %>
       <%= review.customer.customer_name %>
       <%= review.title %>
       <%= review.body %>

       <% if review_customer == current_customer %>
       <p><%= link_to '編集', edit_customer_trainer_review_path(review.customer_id, review.trainer_id, review.id) %></p>
       <p></p>
       <% end %>
        <% end %>

    </div>
  </div>
</div>