<div classs="container">
  <div class="row">
    <div class="col col-md-5 mx-auto p-4">
      <h3>新規クチコミ投稿</h3>
      <%= render 'layouts/error_messages', validation: @review %>
       <%= form_with model:@review, url:customer_trainer_reviews_path, local: true do |f| %>

       <label class="control-label" for="">タイトル</label>
         <%= f.text_field :title, class: 'form-control' %>

       <label class="control-label" for="">ひとこと</label>
         <%= f.text_area :body, class: 'form-control' %><br />

       <p><%= f.submit "登録", class: "btn-flat-border" %></p>
      <% end %>
    </div>
  </div>
</div>