<div class="container">
  <div class="row">
    <div class="col">
      <h3>投稿編集</h3>
       <%= render 'layouts/error_messages', validation: @diary %>
       <%= form_with model: [@customer, @diary], local: true do |f| %>

       <label class="control-label" for="">タイトル</label>
         <%= f.text_field :title, class: 'form-control' %>

       <label class="control-label" for="">日付</label>
         <%= f.date_field :start_time, class: 'form-control' %>

       <label class="control-label" for="">内容</label>
         <%= f.text_area :content, class: 'form-control' %>


       <label class="control-label" for="">体重(kg)</label>
         <%= f.text_field :weight, class: 'form-control' %><br />


       <p><%= f.submit "更新", class: "btn-flat-border" %></p>
      <% end %>
    </div>
  </div>
</div>