<div class="container">
  <div class="row">
    <div class="col">
     <h3>記録カレンダー</h3>
     <p><%= flash[:notice] %></p>


     <%= link_to  "記録する", new_customer_diary_path, class: "btn-flat-border" %>
     <%= month_calendar events: @diaries do |date, diaries| %>
      <%= date.day %>
       <% diaries.each do |diary| %>
       <%= link_to customer_diary_path(@customer, diary.id) do %>
        <%= diary.title %>
        <% end %>
       <% end %>
      <% end  %>
      <!--最小値から-3,最大値から+3,x=>横軸日付,y=>縦軸kg-->
　　　<%= line_chart @weight_data,curve: false, min: @weight_data.values.min.to_i - 3, max: @weight_data.values.max.to_i + 3, x: "日付", y: "Kg", width: "100%", height: "300px" %>
    </div>
  </div>
</div>