<%= form_tag :rakuten_rakuten_search, method: :get do %>
<%= label_tag :keyword, 'キーワード検索' %>
<%= text_field_tag 'keyword', params[:keyword] %>
<%= submit_tag "検索" %>
<% end %>
<p>自宅でトレーニングする際に必要となるものを検索してみましょう。<br />
    例: ヨガマット,腹筋ローラー,ステップ台等</p>
<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>価格</th>
      <th>画像</th>
    </tr>
  </thead>
  <tbody>
    <% if @items.present? %>
     <% @items.each do |item| %>
     <tr>
       <td><%= image_tag item["smallImageUrls"][0] %></td>
       <td align="right"><%= number_with_delimiter(item.price) %>円</td>
       <td><%= link_to item.name, "#{item.url}" %></td>
     </tr>
     <% end %>
    <% end %>
  </tbody>
</table>