<div class="container">
 <div class="mt-5"></div>
  <div class="row">
    <div clss="col">
     <h3>トレーニングメニュー詳細</h3>
      <p>頑張って実行してみましょう！<br />
         画像を押すと大きく表示されます。 </p>
        <table class="table">
         <thead>
          <tr>
            <th>トレーニング種目</th>
            <th>トレーニング詳細説明</th>
            <th>参考画像</th>
          </tr>
         </thead>
         <tbody>
          <% @training_menu.trainings.each do |training| %>
          <tr>
            <td><%= training.training_name %></td>
            <td><%= training.training_description %></td>
            <td>
               <div class="pop-box">
                <label for="popup-on">
                 <label for="popup-on">
                  <div class="btn-open">
                   <% if training.training_image == nil %>
                    <%= image_tag asset_path('default.png'), size: '120x120', class: "layer-img" %>
                   <% else %>
                    <%= attachment_image_tag training, :training_image, size: '120x120', class: "layer-img" %>
                   <% end %>
                  </div>
                 </label>
                 <input type="checkbox" id="popup-on">
                 <div class="popup">
                  <label for="popup-on" class="icon-close">×</label>
                  <div class="popup-content">
                   <% if training.training_image == nil %>
                    <%= image_tag asset_path('default.png'), class: "layer-img" %>
                   <% else %>
                    <%= attachment_image_tag training, :training_image, class: "layer-img" %>
                   <% end %>
                  </div>
                 </div>
                </label>
               </div>

            </td>
          <% end %>
          </tr>
         </tbody>
        </table>
    </div>
  </div>
</div>