<div class="container">
  <div class="row">
    <div class="col">
     <h3>登録情報編集</h3>
      <%= render 'layouts/error_messages', validation: @customer %>
      <%= form_with model: @customer, local: :true do |f| %>

     <div class="field">
       <%= f.label :customer_image, "画像" %><br />
       <%= f.attachment_field :customer_image %>
     </div>

     <div class="field">
       <%= f.label :customer_name, "名前" %><br />
       <%= f.text_field :customer_name %>
     </div>

     <div class="field">
       <%= f.label :customer_introduction, "自己紹介" %><br />
       <%= f.text_field :customer_introduction %>
     </div>

     <div class="field">
       <%= f.label :age, "年齢" %>(半角数字)<br />
       <%= f.text_field :age %>
     </div>

     <div class="field">
       <%= f.label :body_weight, "体重" %>(半角数字/少数点なし)<br />
       <%= f.text_field :body_weight %> kg
     </div>

     <div class="field">
       <%= f.label :height, "身長" %>(半角数時/小数点なし)<br />
       <%= f.text_field :height %> cm
     </div><br />

      <%= f.submit '更新' %>
      <% end %>
    </div>
  </div>
</div>