<div class="container">
  <div class="row">
    <div class="col">
　　　<%= render 'layouts/flash' %>

       <h3>マイページ</h3>
        <div class="row">
         <div class="col-lg-4">
          <strong>登録情報</strong>
           <p></p>
           <% if current_customer.customer_image == nil %>
            <p><%= image_tag asset_path('default.png'), size: '120x120' %></p>
           <% else %>
            <p><%= attachment_image_tag current_customer, :customer_image, size: '120x120' %></p>
           <% end %>
           <div><%= link_to "トレーニング記録", customer_diaries_path(@customer), class: "bottom-border" %></div><br />
           <div><%= link_to "お気に入りしたトレーナー", favorites_customers_path, class: "bottom-border" %></div>
         </div>

         <div class="col-lg-8">
          <table class="table">
           <thead>
             <tr>
               <th>名前</th>
               <td><%= current_customer.customer_name %></td>
             </tr>
             <tr>
               <th>自己紹介</th>
               <td><%= current_customer.customer_introduction %></td>
             </tr>
             <tr>
               <th>年齢</th>
               <td><%= current_customer.age %> 歳</td>
             </tr>
             <tr>
               <th>性別</th>
               <td><%= current_customer.gender %></td>
             </tr>
             <tr>
               <th>体重</th>
               <td><%= current_customer.body_weight %> kg</td>
             </tr>
             <tr>
               <th>身長</th>
               <td><%= current_customer.height %> cm</td>
             </tr>
             <tr>
               <th>BMI</th>
               <td><% if current_customer.body_weight.present? && current_customer.height.present? %>
                     <%= current_customer.bmi(current_customer.body_weight,current_customer.height) %>
                   <% else %>
                     身長と体重を入力してください。
                   <% end %>
               </td>
             </tr>
           </thead>
          </table>
        </div>
      </div>
       <%= link_to "編集", customer_customers_profile_edit_path(current_customer), class: "btn-flat-border" %>
    </div>
  </div>
</div>