<div class="container">
  <div class="row">
    <div class="col">
      <h3>コメント一覧</h3>
      <%= render 'layouts/flash' %>
      <table class="table">
        <thead>
          <tr>
            <th>名前</th>
            <th>タイトル</th>
            <th>ひとこと</th>
          </tr>
        </thead>
        <tbody>
          <tr>
             <% @reviews.each do |review| %>
             <td><%= review.customer.customer_name %></td>
             <td><%= review.title %></td>
             <td><%= review.body %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
     <%= paginate @reviews %>
    </div>
  </div>
</div>