<div class="container">
  <div class="row">
    <div class="col">

      <h3>登録情報編集</h3>
       <%= render 'layouts/error_messages', validation: @trainer %>
       <%= form_with model: @trainer, url: trainers_profile_path, local: :true do |f| %>

      <div class="field">
        <%= f.label :trainer_image, "画像" %><br />
        <%= f.attachment_field :trainer_image %>
      </div>

      <div class="field">
        <%= f.label :trainer_name, "名前" %><br />
        <%= f.text_field :trainer_name %>
      </div>

      <div  class="field">
        <%= f.label :trainer_introduction, "自己紹介" %><br />
        <%= f.text_area :trainer_introduction %>
      </div>
     <br />
      <%= f.submit "更新" %>
      <% end %>
    </div>
  </div>
</div>