<div class="container">
  <div class="row">
    <div class="col">
      <p><%= flash[:notice] %></p>

      <h3>マイページ</h3>

       <div class="row">
        <div class="col-lg-4">
         <strong>登録情報</strong>
          <% if current_trainer.trainer_image == nil %>
           <p><%= image_tag asset_path('default.png'), size: '120x120' %></p>
          <% else %>
           <p><%= attachment_image_tag current_trainer, :trainer_image, size: '120x120' %></p>
          <% end %>
        </div>
        <div class="col-lg-3">
           <p>名前</p>
           <p>自己紹介</p>
           <p>性別</p>
        </div>
        <div class="col-lg-5">
           <p><%= current_trainer.trainer_name %></p>
           <p><%= current_trainer.trainer_introduction %></p>
           <p><%= current_trainer.gender %></p>
        </div>
      </div>
      <%= link_to "編集", trainers_profile_edit_path, class: "text-center" %>
    </div>
  </div>
</div>