<div class="field">
  <%= ff.label :trainings_name, "種目" %>
  <%= ff.text_field :training_name %>
</div>

<div class="field">
  <%= ff.label :training_description, "トレーニング説明" %>
  <%= ff.text_field :training_description %>
</div>

<div class="field">
  <%= ff.hidden_field :training_status, {value: "未着手"} %>
</div>