<div class="nested-fields">
  <td>
     <%= f.label :trainings_name, "種目" %>
     <%= f.text_field :training_name %>
  </td>
  <tr></tr>
    <td>
      <%= f.label :training_description, "トレーニング詳細説明" %>
      <%= f.text_field :training_description %>
    </td>


  <%= f.hidden_field :training_status, {value: "未着手"} %>
  <%= link_to_remove_association "削除", f %>
</div>