<div class="container">
  <div class="row">
    <div class="col">
      <h3>編集</h3>

      <%= form_with model: [@trainer, @training_menu], local: true do |f| %>

      <label class="control-label" for="">トレーニング名</label>
        <%= f.text_field :training_name, class: 'form-control' %>

      <label class="control-label" for="">カテゴリー</label><br />
        <%= f.select :category, TrainingMenu.categories.keys, {prompt:"選択してください"}, class: 'signup_input signup_input--category error-form--category' %><br />

      <label class="control-label" for="">トレーニング説明</label>
        <%= f.text_field :description, class: 'form-control' %>

        <%= f.hidden_field :training_menu_status, {value: '未対応'} %>

        <!--training内容投稿（子要素）-->
        <%= f.fields_for :trainings do |training| %>
           <%= render 'form_fields', ff: training %> <!--ffは子要素のフォーム-->
        <% end %>
        <%= f.submit "更新" %>
        <% end %>


    </div>
  </div>
</div>