<div class="container">
  <div class="row">
    <div class="col">
      <h2>編集</h2>
      <%= render 'layoute/error_messages', validation: @training_menu %>
      <%= form_with model: @training_menu, url: training_menu_path, local: true do |f| %>

      <div class="field">
        <%= f.label :training_name, "トレーニング名" %><br />
        <%= f.text_field :training_name %>
      </div>

      <div class="category">
        <%= f.label :category, "カテゴリー" %><br />
        <%= f.select :category, TrainingMenu.categories.keys, {prompt:"選択してください"}, class: 'signup_input signup_input--category error-form--category' %>
      </div>

      <div class="field">
        <%= f.label :description, "トレーニング説明" %><br />
        <%= f.text_field :description %>
      </div>

        <%= f.hidden_field :training_menu_status, {value: '未対応'} %>

        <!--training内容投稿（子要素）-->
        <%= f.fields_for :trainings do |training| %>
           <%= render 'form_fields', ff: training %> <!--ffは子要素のフォーム-->
        <% end %>
        <%= f.submit "更新" %>
        <% end %>


    </div>
  </div>
</div>