<div class="container">
  <div class="row">
    <div class="mt-5">
     <div class="col">
       <h3>トレーニングメニュー詳細</h3>

     </div>
      <div class="col">
       <table class="table">
        <thead>
          <tr>
            <th>トレーニング名</th>
            <th>カテゴリー</th>
            <th>トレーニング説明</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @training_menu.training_name %></td>
            <td><%= @training_menu.category %></td>
            <td><%= @training_menu.description %></td>
          </tr>
        </tbody>
     </div>
       <div class="col">
         <thead>
          <tr>
            <th>トレーニング種目</th>
            <th>トレーニング詳細説明</th>
            <th>トレーニング画像</th>
            </tr>
             <!--子要素-->
             <% @training_menu.trainings.each do |training| %>
          <tr>
            <td><%= training.training_name %></td>
            <td><%= training.training_description %></td>
             <td><% if training.training_image == nil %>
                  <%= image_tag asset_path('default.png'), size: '60x60' %>
                 <% else %>
                  <%= attachment_image_tag training.training_image, :trainings, size: '60x60' %>
                 <% end %>

             <% end %>
          </tr>
         </thead>
       </table>
       </div>
      <%= link_to '編集', edit_trainer_training_menu_path %>
    </div>
  </div>
</div>