 <div class="container">
  <div class="row">
   <div class="col-12 col-md-5 mx-auto p-4 text-center">
   <h2>ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
     <table class="table table-borderless">
      <tbody>
       <tr>
        <td align="right"><%= f.label :email, "メールアドレス" %></td>
        <td align="left"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
       </tr>

       <tr>
        <td align="right"><%= f.label :password, "パスワード" %></td>
        <td align="left"><%= f.password_field :password, autocomplete: "current-password" %></td>
       </tr>

       <tr>
        <td align="right">
         <% if devise_mapping.rememberable? %>
        </td>
        <td align="left">
         <%= f.check_box :remember_me %>
         <%= f.label :remember_me %>
         <% end %>
        </td>
       </tr>

       <tr>
        <td colspan="2">
         <%= f.submit "ログイン", class: "btn-flat-border" %>
        </td>
       </tr>
      </tbody>
     </table>
   <% end %>
  <p>登録がまだの方はこちら <%= render "trainers/shared/links" %></p>
  </div>
 </div>
</div>
