<header class="sticky-top">
  <nav class="navbar navbar-dark navbar-expand-md">
    <div class="container">
      <a class="nav-link", href="/"><%= image_tag asset_path('header_log.png'), class: "header_logo" %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbaNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
          <!--customerヘッダー-->
           <div class="nav-link text-light mr-5 mt-3">
            ようこそ <%= current_customer.customer_name %>さん
           </div>
           <li><%= link_to "マイページ", customers_path(current_customer) %></li>
           <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>

           <% elsif trainer_signed_in? %>
           <!--trainerヘッダー-->
           <li><%= link_to "マイページ", trainers_path(current_trainer) %></li>
           <li><%= link_to "トレーニングメニュー", training_menus_path(current_trainer) %></li>
           <li><%= link_to "ログアウト", destroy_trainer_session_path, method: :delete %></li>
           <% else %>
           
           <li><%= link_to 'home', root_path %></li>
           

           <% end %>
        </ul>
      </div>
    </div>
  </nav>


</header>