<header class="sticky-top">
  <nav class="navbar navbar-dark navbar-expand-md">
    <div class="container">
      <a class="nav-link", href="/"><%= image_tag asset_path('header_log.png'), class: "header_logo" %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbaNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
          <!--customerヘッダー-->
           <li><%= link_to "マイページ", customer_path(current_customer), class: "nav-link text-light fas fa-user-circle" %></li>
           <li><%= link_to "トレーナー探す", customer_trainers_path(current_customer), class: "nav-link text-light fas fa-dumbbell" %></li>

           <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link text-light fas fa-sign-out-alt" %></li>

           <% elsif trainer_signed_in? %>
           <!--trainerヘッダー-->
           <li><%= link_to "マイページ", trainer_path(current_trainer), class: "nav-link text-light fas fa-user-circle" %></li>
           <li><%= link_to "トレーニングメニュー", trainer_training_menus_path(current_trainer), class: "nav-link text-light fas fa-dumbbell" %></li>
           <li><%= link_to "ログアウト", destroy_trainer_session_path, method: :delete, class: "nav-link text-light fas fa-sign-out-alt" %></li>

          <% else %>
          <li><%= link_to "商品を探す", rakuten_rakuten_search_path %></li>

           <% end %>
        </ul>
      </div>
    </div>
  </nav>


</header>